.category-card{
    border-radius: 4px;
    border: 1px solid var(--bs-light);
    margin: 0 10px;
}
.category-heading {
    display: flex;
    justify-content: space-between;
    background-color: rgb(246, 244, 244);;

}
.category-heading h4{
    font-size: 18px;
    padding: 10px ;
    margin: unset;
}

.sub-categories{
    padding: 10px 10px;
    
}
.sub-categories div{
    display: flex;
    justify-content: space-between;
}

.sub-categories div div svg{
    cursor: pointer;
}

.editable-amount-field{
    border-bottom: 1px solid rgb(228, 228, 228);
}
.editable-amount-field:focus{
    outline: none ;
}

