.analytics-component {
    background-color: rgb(246, 244, 244);
    padding-bottom: 100px;
    
}
.analytics-component-inner{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    flex-wrap: wrap;
}
.imp-info{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 40px;
    margin-block-end: 40px;
}
.imp-info-card {
    padding: 20px ;
    border-radius: 15px;
    background-color: white;
}
.imp-info-card span{
    font-size: 14px;
    color: rgb(73, 73, 73) ;
}

.imp-info-card p {
    font-size: 22px;
    margin: 8px 0 16px 0 ;
} 
.imp-info-card div {
    padding: 15px 0 0  0 ;
    border-top: 1px solid rgb(236, 234, 234);
    display: flex;
    align-items: center;
}
.imp-info-card div :is( .percent-down-badge , .percent-up-badge)
{
    position: relative;
    transform: unset;
    inset: unset;
    font-size: 10px;
}
.imp-info-card .percent-green {
    background-color: rgba(28,187,140,.18);
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 10px;
    color: var(--green-money);
}
.imp-info-card div span {
    font-size: 13px;
}

.left {
    padding-right: 20px;
}

.right
{
    padding-left: 20px;
}
.analytics-chart .analytics-inner > div {
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    background-color: white;
    
}
.analytics-chart:first-child  .analytics-inner> div {
    padding: 20px 0 20px 0 ;
}
.analytics-chart .analytics-inner{
    background-color: transparent;

}

@media (min-width : 992px) and (max-width : 1200px)
{
    .imp-info {
        grid-template-columns: 1fr 1fr;
        
    }
    .imp-info .imp-info-card:last-child {
        display : none ;
    }
}


@media (min-width : 767.8px) and (max-width : 991.8px)
{
    .analytics-component-inner {
        grid-template-columns: 1fr ;
    }
    .left , .right {
        padding: 0;
    }
    .right {
        margin-top: 20px;
    }
    .imp-info {
        gap: 20px;
        margin-bottom: 20px;
    }
    .monthly-report-component {
        margin-top: 20px !important;
 
    }
}

@media (min-width : 576px) and (max-width : 767px)
{
    .analytics-component-inner {
        grid-template-columns: 1fr ;
    }
    .left , .right {
        padding: 0;
    }
    .right {
        margin-top: 20px;
    }
    .imp-info {
        gap: 20px;
        margin-bottom: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .imp-info .imp-info-card:last-child {
        grid-column: span 2;
        width: 50%;
        margin: 0 auto;
    }
    .monthly-report-component {
        margin-top: 20px !important;
 
    }
}

@media (max-width : 575.8px)
{
    .analytics-component-inner{
        display: grid;
        grid-template-columns: 1fr;
    }

    .imp-info{
        width: 100%;
        grid-template-columns: 1fr;
        gap: 20px;
        margin-block-end: 20px;
    }
    .left {
       padding: 0;
    }
    .analytics-chart .analytics-inner > div {
        padding: 18px;
    }
    .analytics-chart:last-child  .analytics-inner {
        width: 90%;
        margin: 0 auto;
    }
    .analytics-chart:last-child  .analytics-inner> div {
        padding: 20px ;
        height: 400px;
        width: 100%;
  
    }
    .right{
        padding : 0 ;
        margin-top: 40px;
    }

}