.analytics-component {
    background-color: rgb(246, 244, 244);
    padding-bottom: 100px;
    
}
.analytics-component-inner{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    flex-wrap: wrap;
}
.imp-info{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 40px;
    margin-block-end: 40px;
}
.imp-info-card {
    padding: 20px ;
    border-radius: 15px;
    background-color: white;
}
.imp-info-card span{
    font-size: 14px;
    color: rgb(73, 73, 73) ;
}

.imp-info-card p {
    font-size: 22px;
    margin: 8px 0 16px 0 ;
} 
.imp-info-card div {
    padding: 15px 0 0  0 ;
    border-top: 1px solid rgb(236, 234, 234);
    display: flex;
    align-items: center;
}
.imp-info-card .percent-green {
    background-color: rgba(28,187,140,.18);
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 10px;
    color: var(--green-money);
}
.imp-info-card div span {
    font-size: 13px;
}

.left {
    padding-right: 20px;
}

.right
{
    padding-left: 20px;
}
.analytics-chart .analytics-inner > div {
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    background-color: white;
    
}
.analytics-chart:first-child  .analytics-inner> div {
    padding: 20px 0 20px 0 ;
}
.analytics-chart .analytics-inner{
    background-color: transparent;

}

/*
@media (max-width : 1812px) {
    .analytics-chart > div {
        padding: 40px;
        border-radius: 20px;
        background-color: white;
        width: unset;
    }
    .analytics-chart{
        width: unset;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }
}*/
/*@media (max-width : 700px)
{
    .analytics-chart > div {
        width: 100%;
    }
}*/

@media (max-width : 576px)
{
    .analytics-component-inner{
        display: grid;
        grid-template-columns: 1fr;
    }

    .imp-info{
        width: 100%;
        grid-template-columns: 1fr;
        gap: 20px;
        margin-block-end: 20px;
    }
    .left {
       padding: 0;
    }
    .analytics-chart .analytics-inner > div {
        padding: 18px;
    }
    .right{
        padding : 0 ;
        margin-top: 40px;
    }

}