.analytics-component {
    background-color: rgb(246, 244, 244);
    padding-bottom: 100px;
}
.analytics-chart{
    padding: 0 100px;
    gap: 40px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.analytics-chart > div {
    padding: 40px;
    border-radius: 20px;
    background-color: white;
    width: 800px;
}

@media (max-width : 1812px) {
    .analytics-chart > div {
        padding: 40px;
        border-radius: 20px;
        background-color: white;
        width: unset;
    }
    .analytics-chart{
        width: unset;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }
}
@media (max-width : 700px)
{
    .analytics-chart > div {
        width: 100%;
    }
}