.form-col label{
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.form-col-inner{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.form-col-inner input{
    padding: 5px 15px;
    border-radius: 6px;
    border: 1px solid rgb(228, 228, 228);
}
.form-col-inner button{
    transition: var(--simple-transition);
}
.form-col-inner button:hover{
    background-color: white;
    color: var(--bs-blue);
    box-shadow: 0 0 0 3px var(--bs-blue);
}
.form-col-inner input:focus{
    border: 1px solid var(--bs-blue);
    outline: none !important ;
}
.errors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--bs-danger);
}


@media (max-width : 576px) {
    .form-col-inner{
        grid-template-columns:1fr;
        gap: 20px;
    }
    .form-col-inner input{
        padding: 8px 10px;
        font-size: 13px;
    }
    .errors {
        font-size: 13px;
    }
    .form-col-inner button[type= "submit"]{
        width: 65%;
        margin: 0 auto;
    }
}