.new-transaction-component{
    
}
.transaction-tabs{
    gap: 10px;
}
.transaction-tabs .active{
    border: 2px solid var(--bs-blue);
    color: var(--bs-blue);
}
.transaction-tab{
    border: 2px solid;
    border-radius: 5px;
    background-color: white;
    padding: 5px 0;
    transition: var(--simple-transition);
}
.transaction-tab:hover{
    border:  2px solid var(--bs-blue);
}

.transaction-table{
    margin-top: 20px;
    padding: 0 10px;
}


@media (max-width : 576px) {
    .transaction-tabs{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: unset;
        row-gap: 10px;
    }
    .transaction-tabs .transaction-tab{
        flex-basis: calc(50% - 5px);
    }
    .transaction-tabs .transaction-tab:last-child{
        flex-basis: 100% ;
    }
}