.skeleton{

    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: rgb(179, 176, 176);
} 
.recent-transaction-inner {
    position: relative;
}
.recent-trans-row{
    padding:  0 10px;
}
.recent-trans-row:first-child .caption{
    border: unset;
}
.recent-trans-row .caption{
    border-top: 1px dotted rgb(216, 213, 213);
    padding: 15px 0;
}

.recent-trans-row .caption i{
    font-size: 18px;
    color : var(--bs-primary) ;
}
.recent-trans-row .caption div{
    display: flex;
    align-items: center;
}
.recent-trans-row  p{
    font-size: 14px;
}

.amount .text-danger {
    position: relative;
}
.amount .text-danger::before{
    position: absolute;
    left: -10px;
    top: 0%;
    content: '-';
    color: var(--bs-danger);
}
.to-bg{
    border-radius: 6px;
    padding: 5px 10px;
    color: white;
    background-color: var(--bs-dark);
}


@media (min-width : 768px) and (max-width : 991.8px)
{
    .recent-transaction-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .recent-trans-row .caption {
        padding: 30px 0 15px 0 ;
    }
    .recent-trans-row:nth-child(2) .caption
    {
        border-top: 0;
    }
    .recent-trans-row p {
        margin-bottom: 0;
    }
}

@media (max-width : 576px) {

    .skeleton{
        font-size: 16px;
        margin: 10px 0;
    } 

    .recent-trans-row .caption{
        flex-direction: column;
    }
    .recent-trans-row .caption div{
        justify-content: space-between;
    }
    .recent-trans-row .caption i {
        font-size: 20px;
    }
 
}